body {
  font-family: 'Space+Mono', monospace;
  color: white;
  padding: 0;
  margin: 0 auto;
  background-color: #1f1f19;
}

body * {
  border-color: #4a4a3c;
  color: #c5c59e;
  background-color: #1f1f19;
}

#spacer {
  height: 20px;
  width: 100%;
}

button {
  font-size: 18px;
}

p {
  text-align: center;
}

#wrapper {
  width: 70%;
  margin: 0 auto;
}

#rock {
  width: 32%;
  margin: 0 auto;
}

#paper {
  width: 33%;
  margin: 0 auto;
}

#scissors {
  width: 32%;
  margin: 0 auto;
  float:right;
}

#playAgain {
  width: 20%;
  margin: 0 auto;
}
